body {

    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

.auth-container {

    height: 100vh;

    background: linear-gradient(
        rgba(5, 15, 40, 0.8),
        rgba(20, 40, 90, 0.8)
    ),

    url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?q=80&w=2071&auto=format&fit=crop");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

}

.auth-box {

    width: 400px;

    background: rgba(10, 20, 60, 0.9);

    padding: 40px;

    border-radius: 25px;

    text-align: center;

    box-shadow: 0 0 30px rgba(0,0,0,0.5);

    backdrop-filter: blur(8px);

}

.auth-title {

    color: white;

    font-size: 52px;

    margin-bottom: 10px;

    font-weight: bold;

}

.auth-subtitle {

    color: #cfd8ff;

    margin-bottom: 30px;

}

.auth-input {

    width: 100%;

    padding: 16px;

    margin-bottom: 20px;

    border: 1px solid rgba(255,255,255,0.1);

    border-radius: 15px;

    background: rgba(255,255,255,0.08);

    color: white;

    font-size: 16px;

}

.auth-input::placeholder {

    color: #ccc;

}

.auth-btn {

    width: 100%;

    padding: 16px;

    border: none;

    border-radius: 15px;

    font-size: 18px;

    font-weight: bold;

    color: white;

    cursor: pointer;

    background: linear-gradient(
        90deg,
        #8b5cf6,
        #ec4899
    );

    transition: 0.3s;

}

.auth-btn:hover {

    transform: scale(1.03);

}

.auth-switch {

    color: #ddd;

    margin-top: 25px;

}

.auth-link {

    color: #67e8f9;

    text-decoration: none;

    font-weight: bold;

    font-size: 22px;

}